@font-face {
    font-family: NexaDemo-Bold;
    src: url('fontes/NexaDemo-Bold.ttf');
}
@font-face {
    font-family: NexaDemo-light;
    src: url('fontes/NexaDemo-Light.ttf');
}
@font-face {
    font-family: franchise;
    src: url('fontes/Franchise.ttf');
}
@font-face {
    font-family: athena;
    src: url('fontes/Athena-Regular\ \(PERSONAL\ USE\ ONLY\).ttf');
}
@font-face {
    font-family: bellerose;
    src: url('fontes/Bellerose.ttf');
}
body{
    background: #e7e7e7;
    margin: 0px;
    padding:0px;
}
header{
    background:#e7e7e7;
    height: 500px;
}
header img{
    width: 40px;
    margin-left: 47.5%;
    
    position: absolute;
}
#sobre, #projetos,#contato{
    height: 600px;
    width: 100%;
}
nav{
    padding-top: 10%;
    width: 50%;
    margin-left: 25%;

}
nav ul {
    width: 90%;
    margin: 5%;
    display: inline;
    letter-spacing: 2px;
    padding: 5%;
    align-items: center;
}

/*Menu*/

.link_menu{
    margin: 0 15px;
    padding-right: 5%;
    padding-left: 5%;
    color: #3d373b;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
    font-family: bellerose;
}

.link_menu:nth-child(1){
    filter: hue-rotate();
}
.link_menu:nth-child(2){
    filter: hue-rotate();
}
.link_menu:nth-child(3){
    filter: hue-rotate();
}

.link_menu:hover{
    background: 3d373b;
    color:#ffff;
    box-shadow: 0 0 40px #3d373b;
    transition-delay: 0.5s;
}
  /* Efeito das bordas  */
  .link_menu:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 1px solid #3d373b;
    border-left: 1px solid #3d373b;
    transition: 0.5s;
    transition-delay: 0.5s;
}
 /* Efeito das bordas  */
 .link_menu:hover:before{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}
.link_menu:after{
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #3d373b;
    border-right: 1px solid #3d373b;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.link_menu:hover:after{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

h1{
    font-family: franchise;
    font-size: 70px;
    letter-spacing: 1px;
    color: #1d1c1c;
    width: 50%;
    margin-left: 30%;
    margin-top: 10%;

}

h2{
    margin-top:0px;
    font-family: athena;
    color:#1d1c1c;
    padding-top:5%;
}
h3{
    font-family:athena;;
    letter-spacing: 1px;
    color: #1d1c1c;
    width: 50%;
    margin-left:40% ;
    margin-top: 0px;
    
}
h4{
    font-family: athena;
    color:#1d1c1c;
    margin-left: 15%;
    font-size:16px;
}

section{
    margin: 5%;
    height: 100%;
    padding: 5%;
    border-radius: 5%;
    background: #dad9d9;

}

#sobre div{
    width: 50%;
    float: right;
}
#sobre img{
    width: 100%;
    opacity: 90%;
}
#sobre div p{
    color: #1d1c1c;
    font-family: athena;
    letter-spacing: 2px;
}
#projetos{
    height: 800px;
}

#projetos .card_projeto{
    width: 25%;
    height: 40%;
    margin:1%;
    float: left;
    padding:1.5%;
    border: black solid 1px;
    border-radius: 5%;

}
#projetos .card_projeto p{
    font-family: athena;
    color:#1d1c1c;

}
#projetos .card_projeto img{
    width: 100%;
}

#contato h1{
    font-family: franchise;
    font-size: 50px;
    letter-spacing: 1px;
    color: #1d1c1c;
    width: 50%;
    margin-left: 30%;
    margin-top: 10%;
}
#contato p{
    font-family: athena;
    color:#1d1c1c;
}
#contato .links p a{
    font-family: athena;
    color:#1d1c1c;
    text-decoration:none;
    padding:2%;
}

#contato .links{
    width: 80%;
    display: inline;

}
#contato .links p {
    width: 40%;
}
#contato .links p .icones {
    width: 5%;
}

#contato .links a:hover{
    color:rgb(192, 63, 106);
}

#rodape p{
    font-family: athena;
    color:#1d1c1c;
    margin-left: 45%;
    font-size:14px;
}

  
@media only screen and (max-device-width: 600px) {
    body{
        width: 100%;
    }
    nav ul li a{
        letter-spacing: 1px;
    }
    header{
        height:30%;
    }
    nav ul .link_menu{
        margin: 15%;
        padding-left: 0;
    }
    section{
        height: 3000px;
    }
     h2{
        font-size:25px;
    }
    #contato h1{
        font-size: 30px;
    }
    #contato h2{
        font-size:25px;
    }
    #sobre,#projetos,#contato{
        height: auto;
        margin-top:0px;   
        font-size:15px;
    }
    #sobre div{
        width: 90%;
        padding:5%;
        float: none;
    }
    #sobre img{
        width: 80%;
    }
    #projetos{
         height: auto;
    }
    #projetos .card_projeto{
        width: 100%;
    
    }
    #contato{
        height: 800px;
    }
    #contato .icones{
        width: 10%;
    }
    #contato .links{
        padding-top:100%;
        margin-left:5%;
    }
    #contato .links p{
        width: 100%;
        margin-left: 10%;
    }
}
 